In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df_cab_data = pd.read_csv("data/Cab_Data.csv")
df_customer_data = pd.read_csv("data/Customer_ID.csv")
df_transaction_id_data = pd.read_csv("data/Transaction_ID.csv")
df_city_data = pd.read_csv("data/City.csv")
df_cab_data.head()

,Transaction ID,Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip
0,10000011,42377,Pink Cab,ATLANTA GA,30.45,370.95,313.635
1,10000012,42375,Pink Cab,ATLANTA GA,28.62,358.52,334.854
2,10000013,42371,Pink Cab,ATLANTA GA,9.04,125.20,97.632
3,10000014,42376,Pink Cab,ATLANTA GA,33.17,377.40,351.602
4,10000015,42372,Pink Cab,ATLANTA GA,8.73,114.62,97.776

In [4]:
# Converting all csv files to excel format in different sheets

with pd.ExcelWriter('full_data.xlsx') as writer:  
    df_cab_data.to_excel(writer,index=False,sheet_name='df_cab_data')
    df_customer_data.to_excel(writer,index=False,sheet_name='df_customer_data')
    df_city_data.to_excel(writer,index=False,sheet_name='df_city_data')
    df_transaction_id_data.to_excel(writer,index=False,sheet_name='df_transaction_id_data')

Please kindly make use of the excel file **full_data.xlsx** for easy analysis on PoweBI/Tableau